@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Universal selector used to reset all margins and paddings */
*{
    margin: 0;
    padding: 0;
}

html, body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.container{
    display: grid;
    grid-template-columns: [full--start] 0.6fr [center--end center--start] 0.4fr [full--end];
    grid-template-rows: repeat(6, min-content);
}

/* Start of the Desktop View */
/* ************************* */

/* ! Start of Desktop Navigation */
.desktop-nav{
    grid-column: full--start/full--end;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.desktop-nav > a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo{
    height: 2rem;
    padding-left: 1.5rem;
    width: auto;
}

.logo-name{
    font-size: 1rem;
    text-transform: uppercase;
}

.logo-name-bold{
    font-weight: bold;
    color: #484848;
}

.logo-name-thin{
    font-weight:400;
    color: #aaa;
}

.navlist{
    list-style: none;
    display: flex;
}

.navlist a{
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 1rem;
}

.nav-item:not(:last-child){
    margin-right: 1rem;
}

.nav-item:last-child{
    margin-right: 1.5rem;
}

/* End of Desktop Navigation */

/* ! Start of Desktop Header */

.header-picture{
    display: flex;
    background-color: #c8c8c8;
}

.header-picture img{
    padding: 2rem 0 2rem 1.5rem;
    width: 100%;
    height: auto;
}

.header-content{
    background-color: #c8c8c8;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content div h1{
    font-size: 2.5rem;
    color: #484848;
}

.header-content div h2{
    font-size: 1rem;
    font-weight: 500;
    color: #484848;
    padding: 1rem 0;
}

.header-content div{
    display: block;
    width: 80%;
}

.header-content div a:link{
    display: block;
    width: 100%;
    align-self: stretch;
    margin: 1rem auto;
    padding: 0.5rem 0;
    background-color: #4a4a4a;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
}

.header-content div a:hover{
    background-color: rgba(72, 72, 72, 0.5);
}

.header-content div a:active,
.header-content div a:visited{
    color: #fff;
    text-decoration: none;
    background-color: #4a4a4a;
}

/* End of Desktop Header */

/* ! Start of Practice Section */

.practice{
    background-color: #f0f0f0;
    padding: 2rem 1.5rem;
}


.practice img{
    width: 100%;
    height: auto;
}

.practice h3{
    padding: 2rem 0 1.5rem 0;
    color: #484848;
    font-size: 2rem;
}

.practice p{
    font-size: small;
    color: #484848;
}

.quote-name{
    display: block;
    margin: 2rem 0;
}

.events{
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
}

.event-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: 1.5rem;
    color: #484848;
}

.event-block img{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.event-block-content{
    margin: 0 2rem;
}

.event-block-content p{
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.event-block-content a:link,
.event-block-content a:active,
.event-block-content a:visited
{
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}

.event-block:last-child{
    background-color: #d8d8d8;
}

.events-mobile{
    display: none;
}
/* End of Practice Section */

/* ! Start of Learning Section */
/* ******************** */
#projectsection{
    width: 100%;
    margin: auto;
    height: 100dvh;
    grid-column: full--start / full--end;
    background-color: #eaebec;
}

.sectiontitle{
    grid-column: full--start / full--end;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    font-weight: bold;
    font-size: 2rem;
}

.showcasecontainer{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 4.5rem;
}

.projectcard{
    margin: 0;
    font-size: small;
    background-color: white;
    color: #484848;
    padding: 0;
    text-decoration: none;
}
a:hover, a:visited, a:active, a:link{
    text-decoration: none;
}
.projectcard a:hover, a:visited, a:active, a:link{
    color: #484848;
}


.projectcard h4, .projectcard p{
    padding-left: 1rem;
}
.projectcard h4{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.projectcard p{
    padding-top: 0.5rem;
    font-size: 12px;
    padding-bottom: 1.5rem;
}

.projectcard img{
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}


/* ******************** */
/* End of Learning Section */

/* !Start of Thesis Section */
/* ******************** */
#thesis-section{
    height: 100%
    width: 100%;
    margin: auto;
    grid-column: full--start / center--end;
    background-color: #f3f5f5;
    border-bottom:1px solid #e2e4e4;

    padding: 4rem 0;
    
}

#thesis-section video{
    padding: 0 1.5rem;
}
#thesis-section h3{
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.5rem;
}
#thesis-section p{
    padding: 0 1.5rem;
}



.thesis-title{
    grid-column: full--start / full--end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: #f3f5f5;
}
.thesis{
    height: 100%
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
    background-color: #f3f5f5;
    border-bottom: 1px solid #e7e7e7;
}

.thesis-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: 1.5rem;
    color: #484848;
    background-color: #d8d8d8;
}

.thesis-block img{
    width: 75%;
    height: auto;
    padding: 1rem;
}

.thesis-block-content{
    margin: 0 2rem;
}

.thesis-block-content p{
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.thesis-block:last-child{
    background-color: #f3f5f5;
}
/* ******************** */
/* End of Thesis Section */

/* !Start of Footer Section */
/* ******************** */
#footer {
    
    padding: 2rem 0;
    grid-column: full--start / full--end;
}
.copyright {
    background-color: #f3f5f5;
    padding-top: 2rem;
    grid-column: full--start / center--end;
    padding-left: 1.5rem;
}
.terms {
    background-color: #f3f5f5;
    padding: 2rem 0;
    grid-column: center--start / full--end;
    display: flex;
    justify-content: flex-end;
}
.terms a{
    padding: 0 0.5rem;
}

/* ******************** */
/* End of Footer Section */

/* *********************** */
/* End of the Desktop View */

/* Start of Mobile View */
/* ******************** */

/* ! Start of Mobile Navigation */

.mobile-nav{
    display: none;
}
.mobilecard{
    display: none;
}
#thesis-mobile{
    display: none;
}

/* End of Mobile Navigation */

/* ! Start of Media Query (Mobile View) */

/* target size: 640px (40rem) width or less */
@media screen and (max-width: 40rem){

    /* hide desktop-nav */
    .desktop-nav{
        display: none;
    }
    .showcasecontainer{
        display:none;
    }

    /* display mobile nav */
    .mobile-nav{
        display: flex;
        grid-column: full--start / full--end;
        align-items: center;
        width: auto;
        height: 4rem;
        justify-content: space-around;
    }

    /* header-picture, header-content */
    .container{
        max-width: 100dvw;
    }

    .header-picture{
        grid-column: full--start / full--end;
    }

    .header-picture img{
        padding: 0;
    }

    .header-content{
        display: flex;
        grid-column: full--start / full--end;
        padding: 2rem 1rem 2rem 1rem;
    }

    .header-content div h1{
        font-size: xx-large;
        padding: 0 0 2rem 0;
    }

    .header-content div h2{
        font-size: larger;
        padding: 0;
    }

    .header-content div{
        display: block;
        width: 100%;
    }

    /* practice, events */
    .practice{
        display: none;
    }

    .events{
        display: none;
    }

    .events-mobile{
        display: block;
        grid-column: full--start/full--end;
        padding: 1rem;
        background-color: #f5f4f5;
    }

    .events-mobile .event-block{
        grid-template-columns: 1fr;
        background-color: #f5f4f5;
    }

    .events-mobile .event-block img{
        padding: 0;
    }

    .events-mobile .event-block-content{
        padding: 2rem 0 2rem 1rem;
        margin: 0;
    }

    .events-mobile .event-block-content h4{
        font-size: x-large;
        font-weight: 600;
    }

    .events-mobile .event-block-content p{
        font-size: large;
        font-weight: lighter;
    }

    .events-mobile .event-block-content a:link{
        font-size: large;
    }
    /* learning */
    .sectiontitle{
        grid-column: full--start / full--end;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        font-weight: bold;
        font-size: 2rem;
        background-color: #f5f4f5;
    }
    #projectsection{
        width: 100%;
        margin: auto;
        height: 6rem;
        grid-column: full--start / full--end;
        background-color: #f5f4f5;
    }
    #learning-mobile{
        grid-column: full--start / full--end;
        background-color: #f5f4f5;
    }
    .mobilecard{
        display: block;
        background-color: #d8d8d8;
        margin: 0.5rem;
    }
    .mobilecard h4{
        padding: 1rem 0 1rem 1.5rem;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
    /* thesis */
    .thesis{
        display: none;
    }
    #thesis-section{
        display: none;
    }
    #thesis-mobile{
        display: block;
        grid-column: full--start / full--end;
    }
    .terms{
        display: none;
    }
    .copyright{
        grid-column: full--start / full--end;
        padding: 2rem 1rem;
    }
    
}

/* End of Media Query */

/* ****************** */
/* End of Mobile View */